@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->

<header id="header">
    <div style="background-image: url('../../img/intro-bg.jpg'); background-repeat: round; ">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <b> <h1 style="color:white" ;>Hotel Management System</h1></b>
                        <b>  <p style="color:white" ;">Manage Everything Easily</p></b>
                        <a href="#about" class="btn btn-custom btn-lg page-scroll">Discover Rooms</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--About page-->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 ">
                <div class="about-img"><img src="~/img/bg.jpeg" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h2>About Us</h2>
                    <hr>
                    <p>The project, Hotel Management System is a web-based application that allows the hotel manager to handle all hotel activities online. Interactive GUI and the ability to manage various hotel bookings and rooms make this system very flexible and convenient. The hotel manager is a very busy person and does not have the time to sit and manage the entire activities manually on paper. This application gives him the power and flexibility to manage the entire system from a single online system..</p>
                 
                </div>
            </div>
        </div>
    </div>
</div>



